*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.mid-content{
    max-width: 1300px;
    margin: auto;
}

.p-bg{
    background-color:#f7f9ff;
}

/*  Begain main css  */
body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}

.header-section {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 6px 0;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100%;
}
.header-section a{
    color: #010101;
}
.header-logo{
    width: 30%;
}
.logo img {
    height: 60px;
    float: left;
    margin-right: 10px;
}
.logo span {
    display: inline-block;
    margin-top: 14px;
    font-size: 26px;
    font-weight: 500;
}
.header-menu {
    width: 56%;
}
.header-button {
    width: 14%;
    text-align: right;
}
.header-btn {
	border: 2px solid #6278df;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 10px;
	margin-top: 8px;
	color: #6278df !important;
	font-size: 17px;
	font-weight: 600;
}
.primary-menu{}
.primary-menu ul{}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a {
    display: block;
    padding: 0 20px;
    font-size: 17px;
    line-height: 60px;
}
.primary-menu ul li a:hover{}

/*  DropDown Mneu css  */
.primary-menu ul li{
    position: relative;
}
.primary-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    background: #fff;

    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
}
.primary-menu ul li ul li{
    display: block;
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}


/* Banner CSS */
.banner-section {
	background: url(https://i.ibb.co/HphGz5z/mbr-4.jpg) no-repeat center center;
	background-size: cover;
	padding: 200px 0;
	color: #fff;
	position: relative;
	z-index: 9;
	margin-top: 70px;
}
.banner-section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, .4);
    z-index: -1;
}
.banner-content{}
.banner-content h3 {
    font-size: 26px;
    font-weight: 400;
}
.banner-content h2 {
    font-size: 60px;
    margin: 30px 0;
}

.default-btn {
	color: #7d7d7d;
	padding: 20px 30px;
	background: #fff;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	margin-left: 5px;
	margin-right: 5px;
    border-radius: 10px;
    transition:.4s;
}
.default-btn:hover{
    background: #6278df;
    color: #fff;
}

/*  Banner Section  */
.banner-bottom{
    background: #f7f9ff;
    padding: 100px 0;
}
.video-left{
    width: 48%;
}
.video-content-right{
    width: 48%;
}
.video-content-right h3 {
    font-size: 51px;
    font-weight: 400;
    margin-bottom: 35px;
}
.video-content-right p {
    color: #767676;
    font-size: 18px;
    line-height: 1.7em;
}

/*  Servcie Section  */
.service-section{
    background: #fff;
    padding: 100px 0;
}

.section-title h1 {
    font-size: 64px;
    margin-bottom: 30px;
}
.section-title p {
    color: #767676;
    font-size: 26px;
    font-weight: 300;
}

/*  Serice Item  */
.services-items {
    margin-top: 90px;
}
.service-box {
    width: 32%;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.1);
    margin-right: 2%;
    margin-bottom: 30px;
    padding: 25px;
    box-sizing: border-box;
}
.service-box:nth-child(3n+3) {
    margin-right: 0;
}
.s-icon {
    width: 60px;
    float: left;
    min-height: 168px;
    font-size: 45px;
    color: #6278df;
    margin-right: 10px;
}
.s-content {
    margin-top: 8px;
}
.s-content h3 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
}
.s-content p {
    color: #767676;
    font-size: 20px;
    line-height: 1.6em;
}

/*  Pricing table css  */
.pricing-table-section{
    background: #f7f9ff;
    padding: 50px;
}
.section-title h2 {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 30px;
}
.pricing-tables {
    margin-top: 80px;
}
.pricing-table-item{
    width: 32%;
    margin-right: 2%;
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.1);
}
.pricing-table-item:nth-child(3){
    margin-right: 0;
}

.p-heading{
    padding: 30px;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}
.p-content{
    padding: 30px;
}

.p-heading h4 {
    font-size: 25px;
    font-weight: 500;
}
.p-heading h1 {
    margin: 42px 0;
    font-size: 56px;
}
.p-heading h1 span {
    font-size: 20px;
}
.p-heading h5 {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 22px;
}
.p-heading p {
    font-size: 20px;
    line-height: 1.5em;
}

.p-content ul{
    list-style: none;
}
.p-content ul li {
    margin: 25px 0;
    color: #767676;
    font-size: 22px;
}
.p-content ul li span {
    display: inline-block;
    font-size: 35px;
    color: #6278df;
    width: 57px;
}
.p-button{
    margin-top: 60px;
}
.p-button .default-btn{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.3);
}


.pricing-table-item:hover .p-heading{
    background: #6278df;
    color: #fff;
}
.pricing-table-item:hover .p-button .default-btn{
    background-color: #6278df;
    color: #fff;
}


.team-section{
    padding: 100px 0;
}
.team-section .section-title  h2{
    font-size: 40px;
}
.team-members{}

.member{
    width: 23%;
    margin-right: 2%;
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.2);
}
.member img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.member-bio {
    padding: 30px;
}
.member-bio h4 {
    font-size: 23px;
    margin-bottom: 12px;
    font-weight: 500;
}
.member-bio p {
    color: #767676;
    font-size: 19px;
}
.team-members {
    margin-top: 80px;
}


/*   Newlatter css */
.newslatter-section{
    padding: 100px 0;
}
.section-title.newslatter-title h2{}

.newslatter-from {
    margin-top: 60px;
}   

.default-input {
    width: 350px;
    padding: 20px 15px;
    font-size: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.1);
    transition: .4s;
    box-sizing: border-box;
}
.default-input:focus{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.5); 
    border: 1px solid #6278df;  
}
.submit-btn {
    background: #6278df;
    font-size: 23px;
    color: #fff;
    border: none;
    padding: 20px 90px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.2);
    border: 2px solid transparent;
    transition: .4s;
}
.submit-btn:hover{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.4); 
    background: #fff;
    color: #6278df;
    border: 2px solid #6278df;
}
.section-title.newslatter-title h2 {
    margin-top: 56px;
    font-size: 44px;
}


/*  Blog Section CSS  */
.blog-section{
    padding: 100px 0;
    padding-top: 20px;
}
.blog-title {
    padding: 60px 0px;
}
.blog-items{}

.b-hading{
    width: 50%;
}
.b-hading h2 {
    font-size: 45px;
    font-weight: 500;
    margin-top: 25px;
}
.bt-content{
    width: 50%;
}
.bt-content p {
	color: #767676;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.7em;
}
.blog-post-item img {
    float: left;
    width: 300px;
    margin-right: 30px;
}
.blog-post-item{
    width: 48%;
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.2); 
}

.blog-post-content {
    margin-top: 26px;
}
.blog-post-content h3 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 500;
}
.blog-post-content p {
    color: #767676;
    font-size: 20px;
    line-height: 1.6em;
}


/*  Testimonial section  */
.testimonial-section{
    padding: 100px 0;
}
.testimonial-items{
    margin-top: 100px;
}

.i-item{
    width: 32%;
    margin-right: 2%;
}
.i-item:last-child{
    margin-right: 0;
}

.t-content{
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.2); 
    padding: 50px 40px;
    box-sizing: border-box;
    margin-bottom: 42px;    

    position: relative;
}
.t-content::after{
    content: "";
    position: absolute;
    bottom: -19px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;
}
.t-content p{
    color: #767676;
    font-size: 20px;
    line-height: 1.8em;
    position: relative;
    margin-bottom: 0;
}
.t-content p::before {
	content: "\f10d";
	font-family: FontAwesome;
	font-size: 80px;
	position: absolute;
	opacity: .15;
	left: -17px;
	top: -4px;
}

.t-user-bio {
    position: relative;
    top: 13px;
}
.t-user-bio h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}
.t-user-bio span {
    display: inline-block;
    color: #767676;
    font-size: 17px;
}
.t-user-img {
    width: 250px;
    margin: auto;
}
.t-user-img img {
    border-radius: 50%;
    width: 80px;
    float: left;
    margin-right: 24px;
}


.contact-section {
    padding-top: 80px;
}

.contact-row{}
.content-left-map{
    width: 48%;
}
.content-right-form{
    width: 48%;
    margin-top: 40px;
}

.footer {
    padding: 20px 0;
    margin-top: 60px;
}
.footer p {
    font-size: 20px;
}
.footer-contact-from .w100{
    width: 100%;
}
.footer-contact-from .w50{
    width: 48%
}

.footer-contact-from .default-input {
    margin-bottom: 20px;
}
.footer-contact-from {
    margin-top: 60px;
}
.footer-contact-from .submit-btn {
    margin-left: 0;
}
.footer-contact-from textarea {
    height: 200px;
}
.content-right-form p {
    font-size: 21px;
    color: #767676;
    line-height: 1.8em;
}
.content-right-form h4 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 22px;
}
.footer-contact-from {
    margin-top: 60px;
}
/* Responsive CSS */
@media (max-width:1400px) {
    .mid-content {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
}
@media (max-width:1200px) {
    .p-content ul li {
        margin: 14px 0;
        font-size: 16px;
    }
    .p-content ul li span {
        width: 48px;
    }
    .p-heading p {
        font-size: 15px;
    }
}
@media (max-width:1050px) {
    .primary-menu ul li a {
        padding: 0 13px;
        font-size: 15px;
    }
    .logo span {
        font-size: 20px;
    }
    .video-content-right h3 {
        font-size: 33px;
        margin-bottom: 26px;
    }
    .header-section {
        position: relative;
    }
    .banner-section {
        margin-top: 0;
    }
    .blog-post-item {
        padding: 20px;
        box-sizing: border-box;
    }
    .blog-post-item img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.primary-menu span {
    display: none;
}
@media (max-width:992px) {
    .header-logo {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .logo img {
        float: inherit;
    }
    .logo span {
        font-size: 20px;
        position: absolute;
        top: ;
    }
    .primary-menu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    .header-menu {
        width: 200px;
    }
    .header-button {
        width: 100%;
        position: absolute;
        right: 14px;
        top: 70px;
    }
    .primary-menu span {
        font-size: 40px;
        color: #6278df;
        cursor: pointer;
        display: block;
    }
    .video-left {
        width: 100%;
        margin-bottom: 30px;
    }
    .video-content-right {
        width: 100%;
    }
    .section-title h1 {
        font-size: 40px;
    }
    .service-box {
        width: 48%;
    }
    .service-box:nth-child(3n+3) {
        margin-right: 20px;
    }
    .service-box:nth-child(2n+2) {
        margin-right: 0;
    }
    .pricing-table-item {
        width: 100%;
        margin-right: 0;
    }
    .member {
        width: 48%;
        margin-bottom: 20px;
    }
    
}
@media (max-width:768px) {
    .banner-content h2 {
        font-size: 50px;
    }
    .default-btn {
        padding: 14px 25px;
        font-size: 17px;
    }
    .section-title h1 {
        font-size: 38px;
        margin-bottom: 25px;
        font-weight: 500;
    }
    .section-title p {
        font-size: 22px;
    }
    .service-box {
        width: 100%;
    }
    .service-box:nth-child(3n+3) {
        margin-right: 20px;
    }
    .service-box:nth-child(2n+2) {
        margin-right: 20px;
    }
    .service-box:nth-child(1n+1) {
        margin-right: 20px;
    }
    .section-title h2 {
        font-size: 40px;
    }
    .section-title p {
        font-size: 20px;
    }
    .team-section .section-title h2 {
        font-size: 26px;
    }
    .default-input {
        width: 100%;
        margin-bottom: 20px;
    }
    .b-hading h2 {
        font-size: 36px;
    }
    .i-item {
        width: 100%;
    }
    .content-left-map {
        width: 100%;
    }
    .content-right-form {
        width: 100%;
    }
}
@media (max-width:620px) {
    .blog-post-item {
        width: 100%;
        margin-bottom: 33px;
    }
}
@media (max-width:568px) {
    .default-btn {
        display: block;
        margin-bottom: 20px;
    }
    .banner-content h3 {
        font-size: 22px;
    }
    .banner-content h2 {
        font-size: 33px;
        margin: 20px 0;
    }
    .banner-section {
        margin-top: 0;
        padding: 88px 0;
    }
    .member {
        width: 100%;
    }
    .section-title.newslatter-title h2 {
        margin-top: 44px;
        font-size: 30px;
    }
    .b-hading {
        width: 100%;
        margin-bottom: 20px;
    }
    .bt-content {
        width: 100%;
    }
}